
{% extends 'layout.html' %}
{% block content %}
    <h1>About Us</h1>
<div class="about-us-text">
        <p>We are a high-energy night club located in the heart of the city, offering a unique and unforgettable experience for all. Our state-of-the-art sound system, lighting, and décor create an electrifying atmosphere that is perfect for dancing and socializing. Our talented DJs play the hottest hits, keeping the dance floor packed all night long. We also offer a premium bar service with a wide selection of spirits, beers, and wines. Come join us for an unforgettable night and make memories that will last a lifetime!</p>

</div>

<div class="center-image">
<img src="{{ url_for('static', filename='images/picture8.jpg')}}"width="700" height="500" style="resolution: 72dpi;">

</div>

<style>
  .center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* adjust this to the desired height */
  }
  .center-image img {
    max-width: 100%;
    max-height: 100%;
  }
</style>

{% endblock %}
{% block footer %}
    <p>Copyright © 2023 Jupiter Night Club</p>


{% endblock %}

